<template>
  <div>
    <b-button
      variant="success"
      class="float-right m-2"
      @click="addNewApplicant()"
      v-b-modal.modal-addNewApplicant
      >Add Applicant</b-button
    >

    <b-modal
      id="modal-form-Applicant"
      ref="modal-form-Applicant"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Firstname :"
          label-for="firstname-input"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateFirstName"
        >
          <b-form-input
            id="firstname-input"
            v-model="form.firstname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Lastname :"
          label-for="lastname-input"
          :invalid-feedback="invalidFeedbackLastName"
          :valid-feedback="validFeedbackLastName"
          :state="stateLastName"
        >
          <b-form-input
            id="lastname-input"
            v-model="form.lastname"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Gender : "
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>

        <b-form-group
          class="mb-3"
          label="Birthday :"
          label-for="birthday"
          :invalid-feedback="invalidFeedbackBirthday"
          :valid-feedback="validFeedbackBirthday"
          :state="stateBirthday"
        >
          <b-form-input
            id="birthday"
            v-model="form.birthday"
            placeholder="YYYY-MM-DD"
            autocomplete="off"
            required
          >
          </b-form-input>
          <b-input-group-append>
            <b-form-datepicker
              v-model="form.birthday"
              button-only
              right
              locale="en-US"
              aria-controls="birthday"
            >
            </b-form-datepicker>
          </b-input-group-append>
        </b-form-group>

        <b-form-group
          label="Nationality :"
          label-for="nationality-input"
          :invalid-feedback="invalidFeedbackNationality"
          :valid-feedback="validFeedbackNationality"
          :state="stateNationality"
        >
          <b-form-input
            id="nationality-input"
            v-model="form.nationality"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Tel :"
          label-for="tel-input"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input
            id="tel-input"
            v-model="form.tel"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Address"
          label-for="Address-input"
          :invalid-feedback="invalidFeedbackAddress"
          :valid-feedback="validFeedbackAddress"
          :state="stateAddress"
        >
          <b-form-input
            id="Addressname-input"
            v-model="form.address"
            required
          ></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="applicantList" :fields="fields">
      <template v-slot:cell(operation)="dataApplicant">
        <b-button variant="warning" @click="editApplicant(dataApplicant.item)"
          >Edit</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="deleteApplicant(dataApplicant)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import applicantService from './ApplicantService.js'
export default {
  data () {
    return {
      title: 'Add new applicant',
      form: {
        _id: '',
        id: -1,
        firstname: '',
        lastname: '',
        gender: null,
        birthday: '',
        nationality: '',
        tel: '',
        address: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      applicantList: [],
      fields: [
        { key: 'firstname', label: 'Firstname' },
        { key: 'lastname', label: 'Lastname' },
        { key: 'gender', label: 'Gender' },
        { key: 'birthday', label: 'Birthday' },
        { key: 'nationality', label: 'Nationality' },
        { key: 'tel', label: 'Tel' },
        { key: 'address', label: 'Address' },
        { key: 'Operation', label: 'Operation' }
      ]
    }
  },
  methods: {
    addNewApplicant () {
      console.log('add new applicant')
      this.$bvModal.show('modal-form-Applicant')
    },
    editApplicant (applicant) {
      console.log('Edit')
      console.log(applicant)
      this.title = 'Edit applicant data'
      this.form = { ...applicant }
      this.$bvModal.show('modal-form-Applicant')
    },
    deleteApplicant (applicant) {
      console.log('delete')
      console.log(applicant.item)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to Delete : ' +
            applicant.item.firstname +
            ' ' +
            applicant.item.lastname +
            ' !',
          {
            title: 'Please confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            axios
              .delete('http://localhost:3000/applicant/' + applicant.item._id)
              .then(res => {
                console.log(res)
                this.getApplicantNons()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        firstname: '',
        lastname: '',
        gender: null,
        birthday: '',
        nationality: '',
        tel: '',
        address: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (
        this.stateFirstName === false ||
        this.stateLastName === false ||
        this.stateGender === false ||
        this.stateBirthday === false ||
        this.stateNationality === false ||
        this.stateTel === false ||
        this.stateAddress === false
      ) {
        return
      }
      if (this.form._id !== '') {
        axios
          .put('http://localhost:3000/applicant/', this.form)
          .then(res => {
            console.log(res)
            this.getApplicantNons()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        delete this.form._id
        axios
          .post('http://localhost:3000/applicant', this.form)
          .then(res => {
            console.log(res)
            this.getApplicantNons()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-Applicant')
      })
    },
    checkDate (checkMonth, checkDay) {
      if (
        checkMonth === 1 ||
        checkMonth === 3 ||
        checkMonth === 5 ||
        checkMonth === 7 ||
        checkMonth === 8 ||
        checkMonth === 10 ||
        checkMonth === 12
      ) {
        console.log('month ', checkMonth)
        if (checkDay > 0 && checkDay <= 31) {
          console.log('day ', checkDay)
          this.birthdayValue = true
        } else {
          console.log('error day ', checkDay)
          this.birthdayValue = false
        }
      } else if (
        checkMonth === 4 ||
        checkMonth === 6 ||
        checkMonth === 9 ||
        checkMonth === 11
      ) {
        console.log('month ', checkMonth)
        if (checkDay > 0 && checkDay <= 30) {
          console.log('day ', checkDay)
          this.birthdayValue = true
        } else {
          console.log('error day ', checkDay)
          this.birthdayValue = false
        }
      } else if (checkMonth === 2) {
        console.log('month ', checkMonth)
        if (checkDay > 0 && checkDay <= 29) {
          console.log('day ', checkDay)
          this.birthdayValue = true
        } else {
          console.log('error day ', checkDay)
          this.birthdayValue = false
        }
      } else {
        console.log('error month')
        this.birthdayValue = false
      }
    },
    getApplicantNons () {
      axios
        .get('http://localhost:3000/applicant')
        .then(res => {
          console.log(res)
          this.applicantList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    // FristName
    stateFirstName () {
      return this.form.firstname.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.firstname.length > 2) {
        return ''
      } else if (this.form.firstname.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please Enter Name'
      }
    },
    validFeedbackName () {
      return this.stateFirstName === true ? 'สำเร็จ' : ''
    },
    // LastName
    stateLastName () {
      return this.form.lastname.length >= 2
    },
    invalidFeedbackLastName () {
      if (this.form.lastname.length > 2) {
        return ''
      } else if (this.form.lastname.length > 0) {
        return 'Enter at least 2 characters'
      } else {
        return 'Please Enter LastName'
      }
    },
    validFeedbackLastName () {
      return this.stateLastName === true ? 'Complete' : ''
    },
    // Gender
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender == null) {
        return 'Please Select one'
      }
      return ''
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Complete' : ''
    },
    // birthday
    stateBirthday () {
      const currentDate = new Date()
      console.log('Current date:', currentDate)
      const year =
        currentDate.getFullYear() - parseInt(this.form.birthday.substring(0, 4))
      let month = 0
      if (this.form.birthday[5] === '0') {
        month = parseInt(this.form.birthday[6])
      } else {
        month = parseInt(this.form.birthday.substring(5, 7))
      }
      let day = 0
      if (this.form.birthday[8] === '0') {
        day = parseInt(this.form.birthday[9])
      } else {
        day = parseInt(this.form.birthday.substring(8))
      }
      this.checkDate(month, day)
      return (
        this.form.birthday.length === 10 &&
        this.form.birthday[4] === '-' &&
        this.form.birthday[7] === '-' &&
        year <= 60 &&
        year >= 25 &&
        this.birthdayValue === true
        // can't validate current date
      )
    },
    invalidFeedbackBirthday () {
      const currentDate = new Date()
      console.log('Current date:', currentDate)
      const year =
        currentDate.getFullYear() - parseInt(this.form.birthday.substring(0, 4))
      let month = 0
      if (this.form.birthday[5] === '0') {
        month = parseInt(this.form.birthday[6])
      } else {
        month = parseInt(this.form.birthday.substring(5, 7))
      }
      let day = 0
      if (this.form.birthday[8] === '0') {
        day = parseInt(this.form.birthday[9])
      } else {
        day = parseInt(this.form.birthday.substring(8))
      }
      console.log('year: ' + year + 'month: ' + month + ' day: ' + day)
      if (
        this.form.birthday.length === 10 &&
        this.form.birthday[4] === '-' &&
        this.form.birthday[7] === '-'
      ) {
        if (year >= 25 && year <= 60) {
          if (
            month === 1 ||
            month === 3 ||
            month === 5 ||
            month === 7 ||
            month === 8 ||
            month === 10 ||
            month === 12
          ) {
            console.log('month ', month)
            if (day > 0 && day <= 31) {
              console.log('day ', day)
              return ''
            } else {
              console.log('error day ', day)
              return 'Please enter new day again'
            }
          } else if (
            month === 4 ||
            month === 6 ||
            month === 9 ||
            month === 11
          ) {
            console.log('month ', month)
            if (day > 0 && day <= 30) {
              console.log('day ', day)
              return ''
            } else {
              console.log('error day ', day)
              return 'Please enter new day again'
            }
          } else if (month === 2) {
            console.log('month ', month)
            if (day > 0 && day <= 29) {
              console.log('day ', day)
              return ''
            } else {
              console.log('error day ', day)
              return 'Please enter new day again'
            }
          } else {
            console.log('error month')
            return 'Please enter new month again'
          }
        } else {
          return 'Please enter new year again'
        }
      } else if (this.form.birthday.length > 0) {
        return "Please enter this format 'YYYY-MM-DD'"
      } else if (this.form.birthday.length === 0) {
        return 'Please enter your birthday.'
      }
      return ''
    },
    validFeedbackBirthday () {
      return this.stateBirthday === true ? 'complete' : ''
    },
    // Tel
    stateTel () {
      return this.form.tel.length === 10
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 0) {
        return 'Enter at least 10 characters.'
      } else if (this.form.tel.length === 0) {
        return 'Please enter your telephone.'
      }
      return ''
    },
    validFeedbackTel () {
      return this.stateTel === true ? 'Complete' : ''
    },
    // Nationality
    stateNationality () {
      return this.form.nationality.length !== 0
    },
    invalidFeedbackNationality () {
      if (this.form.nationality.length > 0) {
        return 'Enter Nationality.'
      } else if (this.form.nationality.length === 0) {
        return 'Please enter your Nationality.'
      }
      return ''
    },
    validFeedbackNationality () {
      return this.stateNationality === true ? 'Complete' : ''
    },
    // Address
    stateAddress () {
      return this.form.address.length !== 0
    },
    invalidFeedbackAddress () {
      if (this.form.address.length > 0) {
        return 'Enter Address.'
      } else if (this.form.address.length === 0) {
        return 'Please enter your Address.'
      }
      return ''
    },
    validFeedbackAddress () {
      return this.stateAddress === true ? 'Complete' : ''
    }
  },
  mounted () {
    this.getApplicantNons()
  }
}
</script>
