<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group
        id="input-group-3"
        label="ชื่อผู้ใช้งาน:"
        label-for="input-3"
        class="Username"
      >
        <b-form-input
          id="input-3"
          v-model="form.ชื่อผู้ใช้งาน"
          placeholder="ชื่อผู้ใช้งาน"
          required
        ></b-form-input>
      </b-form-group>

      <div>
        <b-form @submit.stop.prevent>
          <label for="text-password">รหัสผ่าน</label>
          <b-form-input
            type="password"
            id="text-password"
            aria-describedby="password-help-block"
            placeholder="รหัสผ่าน"
            v-model="form.รหัสผ่าน"
          ></b-form-input>
          <b-form-text id="password-help-block">
            รหัสผ่านของคุณต้องมีความยาว 8 - 20 ตัวอักษร
          </b-form-text>
        </b-form>
      </div>

      <b-form-group id="input-group-1" label="ชื่อ:" label-for="input-1">
        <b-form-input
          id="input-1"
          v-model="form.ชื่อ"
          placeholder="ชื่อ"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="นามสกุล:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="form.นามสกุล"
          placeholder="นามสกุล"
          required
        ></b-form-input>
      </b-form-group>

      <div>
        <label for="datepicker-full-width">วันเดือนปีเกิด</label>
        <b-form-datepicker
          id="datepicker-full-width"
          v-model="form.วันเดือนปีเกิด"
          menu-class="w-100"
          calendar-width="100%"
          class="mb-2"
        ></b-form-datepicker>
      </div>

      <div>
        <b-form-group label="กรุณาเลือกเพศ" v-slot="{ ariaDescribedby }">
          <b-form-radio
            v-model="form.เพศ"
            :aria-describedby="ariaDescribedby"
            name="some-radios"
            value="ชาย"
            >ชาย</b-form-radio
          >
          <b-form-radio
            v-model="form.เพศ"
            :aria-describedby="ariaDescribedby"
            name="some-radios"
            value="หญิง"
            >หญิง</b-form-radio
          >
        </b-form-group>
      </div>

      <b-form-group
        id="input-group-5"
        label="เบอร์โทรศัพท์"
        label-for="input-5"
      >
        <b-form-input
          id="input-5"
          v-model="form.เบอร์โทรศัพท์"
          placeholder="เบอร์โทรศัพท์"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-6" label="อีเมล" label-for="input-6">
        <b-form-input
          id="input-6"
          v-model="form.อีเมล"
          placeholder="อีเมล"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-4" label="ที่อยู่" label-for="input-4">
        <b-form-input
          id="input-4"
          v-model="form.ที่อยู่"
          required
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">ยืนยัน</b-button>
      <b-button type="reset" variant="danger" class="Box">ยกเลิก</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ form }}</pre>
    </b-card>
  </div>
</template>

<style scoped>
.Box {
  margin-left: 10px;
}
.Username {
  margin-top: 20px;
}
div {
  margin-bottom: 20px;
}
</style>

<script>
export default {
  data () {
    return {
      form: {
        ชื่อ: '',
        นามสกุล: '',
        ชื่อผู้ใช้งาน: '',
        รหัสผ่าน: '',
        วันเดือนปีเกิด: '',
        เพศ: '',
        ที่อยู่: '',
        เบอร์โทรศัพท์: '',
        อีเมล: ''
      },
      show: true
    }
  },
  methods: {
    onSubmit (event) {
      event.preventDefault()
      alert(JSON.stringify(this.form))
    },
    onReset (event) {
      event.preventDefault()
      // Reset our form values
      this.form.Firstname = ''
      this.form.Lastname = ''
      this.form.Username = ''
      this.form.Password = ''
      this.form.Birthday = ''
      this.form.Gender = ''
      this.form.Address = ''
      this.form.Tel = ''
      this.form.Email = ''
      // Trick to reset/clear native browser form validation state
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    }
  }
}
</script>
