<template>
  <div>
    <b-button variant="success" class="float-right m-2" @click="addNewAdmin()"
      >Add Admin</b-button
    >

    <b-modal
      id="modal-form-admin"
      ref="modal-form-admin"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="First Name : "
          label-for="first_name"
          :invalid-feedback="invalidFeedbackFirstName"
          :valid-feedback="validFeedbackFirstName"
          :state="stateFirstName"
        >
          <b-form-input
            id="first_name"
            v-model="form.first_name"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Last Name : "
          label-for="last_name"
          :invalid-feedback="invalidFeedbackLastName"
          :valid-feedback="validFeedbackLastName"
          :state="stateLastName"
        >
          <b-form-input
            id="last_name"
            v-model="form.last_name"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender : "
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          class="mb-3"
          label="Birthday :"
          label-for="birthday"
          :invalid-feedback="invalidFeedbackBirthday"
          :valid-feedback="validFeedbackBirthday"
          :state="stateBirthday"
        >
          <b-form-input
            id="birthday"
            v-model="form.birthday"
            placeholder="YYYY-MM-DD"
            autocomplete="off"
            required
          >
          </b-form-input>
          <b-input-group-append>
            <b-form-datepicker
              v-model="form.birthday"
              button-only
              right
              locale="en-US"
              aria-controls="birthday"
            >
            </b-form-datepicker>
          </b-input-group-append>
        </b-form-group>
        <b-form-group
          label="Tel : "
          label-for="tel"
          :invalid-feedback="invalidFeedbackTel"
          :valid-feedback="validFeedbackTel"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="adminList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button variant="warning" @click="editAdmin(data.item)"
          >Edit</b-button
        >
        &nbsp;
        <b-button variant="danger" @click="delAdmin(data.item)"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from 'axios'
// import { delete } from 'vue/types/umd'
// import adminService from './AdminService'
export default {
  data () {
    return {
      birthdayValue: false,
      title: 'Add new admin',
      form: {
        _id: '',
        first_name: '',
        last_name: '',
        gender: null,
        birthday: '',
        tel: ''
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'M', text: 'Male' },
        { value: 'F', text: 'Female' }
      ],
      adminList: [],
      fields: [
        // {
        //   // key: 'id',
        //   label: 'No.'
        // },
        'first_name',
        'last_name',
        'gender',
        'birthday',
        'tel',
        'operation'
      ]
    }
  },
  methods: {
    getAdmins () {
      // this.adminList = adminService.getAdmins()
      axios
        .get('http://localhost:3000/admin')
        .then(res => {
          console.log(res)
          this.adminList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    },
    addNewAdmin () {
      console.log('add new admin')
      this.$bvModal.show('modal-form-admin')
    },
    editAdmin (admin) {
      console.log('Edit')
      console.log(admin)
      this.title = 'Edit admin data'
      this.form = { ...admin }
      this.$bvModal.show('modal-form-admin')
    },
    delAdmin (admin) {
      console.log('Delete')
      console.log(admin)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete ' +
            admin.first_name +
            ' ' +
            admin.last_name +
            ' !',
          {
            title: 'Please Confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            // this.deleteAdmin(admin)
            // adminService.deleteAdmin(admin)
            axios
              .delete('http://localhost:3000/admin/' + admin._id)
              .then(res => {
                console.log(res)
                this.getAdmins()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        first_name: '',
        last_name: '',
        gender: 'null',
        birthday: '',
        tel: ''
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // check validate
      if (
        this.stateFirstName === false ||
        this.stateLastName === false ||
        this.stateGender === false ||
        this.stateTel === false ||
        this.birthday === false
      ) {
        return
      }
      // do when pass validation
      if (this.form._id !== '') {
        // adminService.updateAdmin(this.form)
        axios
          .put('http://localhost:3000/admin/', this.form)
          .then(res => {
            console.log(res)
            this.getAdmins()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // adminService.addAdmin(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/admin', this.form)
          .then(res => {
            console.log(res)
            this.getAdmins()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-admin')
      })
    },
    checkDate (checkMonth, checkDay) {
      if (
        checkMonth === 1 ||
        checkMonth === 3 ||
        checkMonth === 5 ||
        checkMonth === 7 ||
        checkMonth === 8 ||
        checkMonth === 10 ||
        checkMonth === 12
      ) {
        console.log('month ', checkMonth)
        if (checkDay > 0 && checkDay <= 31) {
          console.log('day ', checkDay)
          this.birthdayValue = true
        } else {
          console.log('error day ', checkDay)
          this.birthdayValue = false
        }
      } else if (
        checkMonth === 4 ||
        checkMonth === 6 ||
        checkMonth === 9 ||
        checkMonth === 11
      ) {
        console.log('month ', checkMonth)
        if (checkDay > 0 && checkDay <= 30) {
          console.log('day ', checkDay)
          this.birthdayValue = true
        } else {
          console.log('error day ', checkDay)
          this.birthdayValue = false
        }
      } else if (checkMonth === 2) {
        console.log('month ', checkMonth)
        if (checkDay > 0 && checkDay <= 29) {
          console.log('day ', checkDay)
          this.birthdayValue = true
        } else {
          console.log('error day ', checkDay)
          this.birthdayValue = false
        }
      } else {
        console.log('error month')
        this.birthdayValue = false
      }
    }
  },
  computed: {
    // first name
    stateFirstName () {
      return this.form.first_name.length >= 3
    },
    invalidFeedbackFirstName () {
      if (this.form.first_name.length > 2) {
        return ''
      } else if (this.form.first_name.length > 0) {
        return 'Enter at least 3 characters.'
      }
      return 'Please enter your first name'
    },
    validFeedbackFirstName () {
      return this.stateFirstName === true ? 'Complete' : ''
    },
    // last name
    stateLastName () {
      return this.form.last_name.length >= 3
    },
    invalidFeedbackLastName () {
      if (this.form.last_name.length > 2) {
        return ''
      } else if (this.form.last_name.length > 0) {
        return 'Enter at least 3 characters.'
      }
      return 'Please enter your last name'
    },
    validFeedbackLastName () {
      return this.stateLastName === true ? 'Complete' : ''
    },
    // gender
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender == null) {
        return 'Please Select one'
      }
      return ''
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'Complete' : ''
    },
    // tel
    stateTel () {
      return this.form.tel.length === 10
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 0) {
        return 'Enter at least 10 characters.'
      } else if (this.form.tel.length === 0) {
        return 'Please enter your telephone.'
      }
      return ''
    },
    validFeedbackTel () {
      return this.stateTel === true ? 'Complete' : ''
    },
    // birthday
    stateBirthday () {
      const currentDate = new Date()
      console.log('Current date:', currentDate)
      const year =
        currentDate.getFullYear() - parseInt(this.form.birthday.substring(0, 4))
      let month = 0
      if (this.form.birthday[5] === '0') {
        month = parseInt(this.form.birthday[6])
      } else {
        month = parseInt(this.form.birthday.substring(5, 7))
      }
      let day = 0
      if (this.form.birthday[8] === '0') {
        day = parseInt(this.form.birthday[9])
      } else {
        day = parseInt(this.form.birthday.substring(8))
      }
      this.checkDate(month, day)
      return (
        this.form.birthday.length === 10 &&
        this.form.birthday[4] === '-' &&
        this.form.birthday[7] === '-' &&
        year <= 60 &&
        year >= 25 &&
        this.birthdayValue === true
        // can't validate current date
      )
    },
    invalidFeedbackBirthday () {
      const currentDate = new Date()
      console.log('Current date:', currentDate)
      const year =
        currentDate.getFullYear() - parseInt(this.form.birthday.substring(0, 4))
      let month = 0
      if (this.form.birthday[5] === '0') {
        month = parseInt(this.form.birthday[6])
      } else {
        month = parseInt(this.form.birthday.substring(5, 7))
      }
      let day = 0
      if (this.form.birthday[8] === '0') {
        day = parseInt(this.form.birthday[9])
      } else {
        day = parseInt(this.form.birthday.substring(8))
      }
      console.log('year: ' + year + 'month: ' + month + ' day: ' + day)
      if (
        this.form.birthday.length === 10 &&
        this.form.birthday[4] === '-' &&
        this.form.birthday[7] === '-'
      ) {
        if (year >= 25 && year <= 60) {
          if (
            month === 1 ||
            month === 3 ||
            month === 5 ||
            month === 7 ||
            month === 8 ||
            month === 10 ||
            month === 12
          ) {
            console.log('month ', month)
            if (day > 0 && day <= 31) {
              console.log('day ', day)
              return ''
            } else {
              console.log('error day ', day)
              return 'Please enter new day again'
            }
          } else if (
            month === 4 ||
            month === 6 ||
            month === 9 ||
            month === 11
          ) {
            console.log('month ', month)
            if (day > 0 && day <= 30) {
              console.log('day ', day)
              return ''
            } else {
              console.log('error day ', day)
              return 'Please enter new day again'
            }
          } else if (month === 2) {
            console.log('month ', month)
            if (day > 0 && day <= 29) {
              console.log('day ', day)
              return ''
            } else {
              console.log('error day ', day)
              return 'Please enter new day again'
            }
          } else {
            console.log('error month')
            return 'Please enter new month again'
          }
        } else {
          return 'Please enter new year again'
        }
      } else if (this.form.birthday.length > 0) {
        return "Please enter this format 'YYYY-MM-DD'"
      } else if (this.form.birthday.length === 0) {
        return 'Please enter your birthday.'
      }
      return ''
    },
    validFeedbackBirthday () {
      return this.stateBirthday === true ? 'complete' : ''
    }
  },
  mounted () {
    console.log('Vue is mounted')
    this.getAdmins()
  }
}
</script>
