<template>
  <div>
    <b-button
      variant="success"
      class="float-right"
      @click="addNewCompany()"
      v-b-modal.modal-form-company
      >Add Company</b-button
    >
    <b-modal
      id="modal-form-company"
      ref="modal-form-company"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="ID Company"
          label-for="id"
          :valid-feedback="validFeedbackId"
          :invalid-feedback="invalidFeedbackId"
          :state="stateId"
        >
          <b-form-input id="id" v-model="form.id" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Name"
          label-for="name"
          :valid-feedback="validFeedbackName"
          :invalid-feedback="invalidFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Tel"
          label-for="tel"
          :valid-feedback="validFeedbackTel"
          :invalid-feedback="invalidFeedbackTel"
          :state="stateTel"
        >
          <b-form-input id="tel" v-model="form.tel" required></b-form-input>
        </b-form-group>

        <b-form-group
          label="Status:"
          label-for="status"
          :valid-feedback="validFeedbackStatus"
          :invalid-feedback="invalidFeedbackStatus"
          :state="stateStatus"
        >
          <b-form-select
            id="status"
            v-model="form.status"
            :options="statusOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>

    <b-table striped hover :items="companyList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button variant="warning" @click="editCompany(data.item)"
          >Edit</b-button
        >
        &nbsp;
        <b-button @click="delCompany(data.item)" variant="danger"
          >Delete</b-button
        >
      </template>
    </b-table>
  </div>
</template>

<script>
// import companyService from './CompanyService'
import axios from 'axios'
// import { delete } from 'vue/types/umd'
export default {
  data () {
    return {
      title: null,
      form: { _id: '', id: '', name: '', tel: '', status: null },
      statusOptions: [
        { value: 'null', text: 'Select One' },
        { value: 'success', text: 'success' },
        { value: 'pending', text: 'pending' }
      ],
      companyList: [],
      fields: [
        { key: 'id', label: 'ID Company' },
        'name',
        'tel',
        'status',
        'operation'
      ]
    }
  },
  methods: {
    addNewCompany () {
      console.log('add new user')
      this.title = 'Add new company'
      this.$bvModal.show('modal-form-company')
    },
    editCompany (company) {
      console.log('edit')
      console.log(company)
      this.title = 'Edit company'
      this.form = { ...company }
      this.$bvModal.show('modal-form-company')
    },
    delCompany (company) {
      console.log('del')
      console.log(company)
      this.$bvModal
        .msgBoxConfirm(
          'Please confirm that you want to delete ' + company.name + ' ??!!!',
          {
            title: 'Please confirm',
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'danger',
            okTitle: 'YES',
            cancelTitle: 'NO',
            footerClass: 'p-2',
            hideHeaderClose: false,
            centered: true
          }
        )
        .then(value => {
          if (value) {
            // this.deleteCompany(company)
            // companyService.deleteCompany(company)
            console.log(company._id)
            axios
              .delete('http://localhost:3000/companies/' + company._id)
              .then(res => {
                console.log(res)
                this.getCompanies()
              })
              .catch(err => {
                console.log(err)
              })
          }
        })
    },
    resetModal () {
      this.form = {
        _id: '',
        id: '',
        name: '',
        tel: '',
        status: null
      }
    },
    handleOk (bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault()
      // Trigger submit handler
      this.handleSubmit()
    },
    handleSubmit () {
      // Check Validate
      if (
        this.stateId === false ||
        this.stateName === false ||
        this.stateTel === false ||
        this.stateStatus === false
      ) {
        return
      }
      if (this.form._id !== '') {
        // Do when pass validation
        // this.updateCompany(this.form)
        // companyService.updateCompany(this.form)
        axios
          .put('http://localhost:3000/companies', this.form)
          .then(res => {
            console.log(res)
            this.getCompanies()
          })
          .catch(err => {
            console.log(err)
          })
      } else {
        // this.addCompany(this.form)
        // companyService.addCompany(this.form)
        delete this.form._id
        axios
          .post('http://localhost:3000/companies', this.form)
          .then(res => {
            console.log(res)
            this.getCompanies()
          })
          .catch(err => {
            console.log(err)
          })
      }
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-company')
      })
    },
    getCompanies () {
      // this.companyList = companyService.getCompanies()
      axios
        .get('http://localhost:3000/companies')
        .then(res => {
          console.log(res)
          this.companyList = res.data
        })
        .catch(err => {
          console.log(err)
        })
    }
  },
  computed: {
    stateId () {
      return this.form.id.length === 13
    },
    invalidFeedbackId () {
      if (this.form.id.length === 13) {
        return ''
      } else if (this.form.id.length > 0) {
        return 'Please enter your id company 13 characters'
      } else {
        return 'Please enter your id company'
      }
    },
    validFeedbackId () {
      return this.stateId === true ? 'Correct' : ''
    },
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'Please enter your name company 2 characters'
      } else {
        return 'Please enter your name company'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'Correct' : ''
    },
    stateTel () {
      return this.form.tel.length === 10
    },
    invalidFeedbackTel () {
      if (this.form.tel.length > 0) {
        return 'Enter at least 10 characters.'
      } else if (this.form.tel.length === 0) {
        return 'Please enter your telephone'
      } else return ''
    },
    validFeedbackTel () {
      return this.stateTel === true ? 'Correct' : ''
    },
    stateStatus () {
      return this.form.status != null
    },
    invalidFeedbackStatus () {
      if (this.form.status != null) {
        return ''
      } else {
        return 'Please enter your status'
      }
    },
    validFeedbackStatus () {
      return this.stateStatus === true ? 'Correct' : ''
    }
  },
  mounted () {
    console.log('vue component is mounted')
    this.getCompanies()
  }
}
</script>
